[user]
        name = Robert-Jan Bijl
        email = rober-jan@prezent.nl
[alias]
        co = checkout
        st = status
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
	ci = commit
[color]
        ui = true
	diff = auto
	status = auto
